# Copy to .env and set values appropriate for your environment.
DEBUG=1
SECRET_KEY=6-n8ie)ow0dn2i#5w%wo1*-(r%%50+ob(a%0q#^$ya*d+@-(e4
ALLOWED_HOSTS=localhost,127.0.0.1,entropylaw.teknusa.com

DB_NAME=teori_kolaps_db
DB_USER=kolaps_user
DB_PASSWORD=toor123
MYSQL_ROOT_PASSWORD=toor123
